/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

*{
  margin: 0;
  padding: 0;
  background-color: rgb(240, 240, 245);
  font-size: 14px;
}

.app-body{
  margin: 75px 280px 0;
}

.app-header{
  margin-bottom: 20px;
}

.app-header>h1{
  font-size: 24px;
}

.main-refs{
  display: inline-block;
  background-color:lightblue;
  padding: 6px;
  border-radius: 5px;
  padding-top: 5px;

}

.main-refs>a, .main-refs>.add-func{
  
  text-decoration: none;
  border-radius: 5px;
  background-color:lightblue;
  padding: 3px;
}

.main-refs>.add-func{
  background-color: rgb(240, 240, 245);
}

.main-refs>a:visited{
  color: black;

}

.main-refs>a:first-child{
  margin-right: 5px;
}

.main-refs>.add-func{
  display: inline;
}

.main-refs>.add-func:hover{
  cursor: pointer;
}

.main-paragraph{
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-search{
  border-radius: 10px;
  background-color: white;
  padding: 30px 25px 20px;
  margin-bottom: 20px;
}

.main-search *{
  background-color: white;
}

.main-search input{
  width: 600px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 5px;
  border: rgb(200, 200, 200) solid 1px;
  border-radius: 5px;
}

.main-search>.modal-wrapper{
  position:fixed;
  left:0%;
  top:0%;
  width:100%;
  height:100%;
  justify-content:center;
  align-items:center;
  background:rgba(0,0,0,.7);
  z-index:100;
}

.modal-wrapper>.add-form{
  position: absolute;
  left: 30%;
  top: 30%;
  padding: 5px;
  border: inherit solid 1px;
  border-radius: 5px;
}

.main-search .add-button{
  display: block;
  padding: 5px;
  border: black solid 1px;
  border-radius: 5px;
}

.main-search .add-button:active{
  background-color: rgb(180, 180, 180);
}

.main-search .org-table{
  width: 100%;
  border: white solid 1px;
  border-collapse: collapse;
}

.main-search .org-table td{
  width: 250px;
  padding: 10px;
  padding-left: 0;
  border: white solid 1px;
}

.main-search .org-table .org-table-header>td{
  border-bottom: rgb(200, 200, 200) solid 1px;
}

.main-search .org-table .org-table-elem>td{
  border:none;
}

.main-search .org-table .org-table-elem:nth-child(even)>td{
  background-color: rgba(190, 220, 240, 0.4);
}

.main-search .org-table .org-table-elem .elem-name>a{
  background-color: rgba(190, 220, 240, 0.4);
}

.none{
  display: none;
}

.show{
  display: flex;
}